# IntelliJ files
/.idea/libraries/Gradle__*.xml
/.idea/dictionaries/
/.idea/gradle.xml
/.idea/httpRequests/
/.idea/jarRepositories.xml
/.idea/markdown*
/.idea/misc.xml
/.idea/modules/
/.idea/modules.xml
/.idea/sassLintPlugin.xml
/.idea/scssLintPlugin.xml
/.idea/shelf/
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/watcherTasks.xml
/.idea/PharmCAT.iml

# External tools
.gradle/
/node_modules/

# Wiki checkout
/*.wiki/

# Temporary files
.DS_Store
._.DS_Store
*~
/build/

# PharmCAT specific
/out/
/testVcf/
/tmp/
log.txt
pharmcat*.log
# temp files for testing the Jekyll site
/docs/_site
/docs/Gemfile.lock

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# python directory or files
__pycache__/
