cloudpickle==2.1.0
dask==2022.5.2
fsspec==2022.5.0
locket==1.0.0
numpy==1.22.4
packaging==21.3
pandas==1.4.2
partd==1.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
scikit-allel==1.3.5
six==1.16.0
toolz==0.11.2
