<section id="disclaimer">
<h2 id="disclaimers-and-other-information">Disclaimers and Other Information</h2>
<p><strong>Liability: PharmCAT assumes no responsibility for any injury to person or damage to persons or property arising out of,
or related to any use of PharmCAT, or for any errors or omissions. The user recognizes that PharmCAT is a research tool
and that they are using PharmCAT at their own risk.</strong></p>
<h3 id="a-allele-and-genotype-determination">A. Allele and Genotype Determination</h3>
<ol>
<li><p>PharmCAT uses gene allele definitions included in the CPIC database, with exceptions as noted
in <a href="https://pharmcat.org/methods/Gene-Definition-Exceptions/">Gene Definition Exceptions document</a>. For allele
definitions and the positions used in PharmCAT, see
the <a href="https://github.com/PharmGKB/PharmCAT/releases">gene definition tables</a>.</p></li>
<li><p>Genes with DPWG recommendations that are not included in CPIC are discussed in Section C.   </p></li>
<li><p>PharmCAT results are dependent on the supplied VCF calls for the queried positions (for technical information about
PharmCAT input formatting and requirements, please go to <a href="https://pharmcat.org/">pharmcat.org</a>). PharmCAT does not
assume any reference calls for positions missing from the submitted VCF file; all missing queried positions are not
considered in the allele determination process. See the
<a href="https://github.com/PharmGKB/PharmCAT/releases"><em>pharmcat_positions</em> file</a> for which positions are
queried in the VCF file. Missing positions might alter the assigned genotype and subsequent phenotype prediction and
CPIC recommendation. If the supplied VCF file has missing positions, those positions will be noted in
Section III: Allele Matching Details for each gene of this report. For the most reliable allele determination,
reference calls as well as variant calls in the VCF file for every queried position must be provided by the user.
If an allele that includes a missing position is defined by an additional position(s) for which calls are provided,
the allele will be considered in the matching process based on the available information. This might lead to the output
of multiple possible genotypes that received the same highest matching score. In addition, alternate calls with a lower
score is also possible. For instructions on getting PharmCAT to output all possible matching genotypes, consult
<a href="https://pharmcat.org/using/Running-PharmCAT/#named-allele-matcher">the documentation</a>.</p></li>
<li><p>For cytochrome P450 genes, TPMT, NUDT15, UGT1A1, and SLCO1B1, the *1 allele is defined by the absence of variation
specified in the gene definition tables. This allele cannot be identified by variants; rather, *1 is assigned by
default when no variation for the queried positions is reported in the submitted VCF file. The same is true for all
other genes with multiple variant positions in the definition table (CACNA1S, CFTR, DPYD, RYR1): the reference
sequence is the default result when variants are not reported in the VCF file. It is always possible un-interrogated
variation can occur which could potentially affect allele function, but because it is undetected, the assignment
would be defaulted to a *1 (or reference) allele and normal function.</p></li>
<li><p>For all genes, variation reported in the VCF file but NOT included in the gene definition table will not be
considered during allele assignment. There is a possibility that any such variation results in a reduced or no
activity allele which could lead to inaccurate phenotype and CPIC recommendation, similar to the situation in point
3, above.</p></li>
<li><p>Nucleotide base calls are displayed on the positive chromosomal strand regardless of the gene strand; further
information is provided under Gene-specific warnings in Section III: Allele Matching Details.</p></li>
<li><p>Structural variation star alleles that cannot be detected using VCF file data:</p>
<ul>
<li>CYP2B7-CYP2B6 hybrids: CYP2B6*29, CYP2B6*30</li>
<li>Partial and whole gene deletions: CYP2C19*36, CYP2C19*37, CYP4F2*16, SLCO1B1*48, SLCO1B1*49  </li></ul></li>
<li><p>PharmCAT matches variants to genotypes assuming unphased data (unless phased data is provided in the VCF file and
noted as such, see <a href="https://pharmcat.org/">pharmcat.org</a> for details). The assumption is that defined alleles exist
in trans configuration, i.e. on opposite chromosomes, with exceptions noted in Section III: Allele Matching Details
under "Gene-specific warnings." However, in cases where an allele is defined by a combination of two or more
variants, where each variant alone also defines an allele, the match is based on the longer allele. For example,
TPMT*3B is defined by one SNP, *3C is defined by another SNP, and *3A is defined by the combination of those two
SNPs. In the case of unphased data that is heterozygous for both SNPs, the *1/*3A genotype is returned though the
possibility of *3B/*3C cannot be ruled out.</p>
<p>Below cases are summarized for which two calls with different scores are possible when provided unphased data and
heterozygous calls for the variants that define the two alleles. The genotype with the higher score (longer allele)
will be used to determine allele functionality, phenotype, and recommendation but the genotype with the lower score
cannot be ruled out.</p></li>
</ol>
<p>Table 1: Cases for which there is an overlap in the allele definitions.</p>
<table>
<thead>
<tr>
<th>Gene</th>
<th>Genotype (Higher Score)</th>
<th>Phenotype</th>
<th>Genotype (Lower Score)</th>
<th>Phenotype</th>
</tr>
</thead>
<tbody>
<tr>
<td>UGT1A1</td>
<td>*1/*80+*28</td>
<td>Intermediate</td>
<td>*28/*80</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>UGT1A1</td>
<td>*1/*80+*37</td>
<td>Intermediate</td>
<td>*37/*80</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>TPMT</td>
<td>*1/*3A</td>
<td>Intermediate</td>
<td>*3B/*3C</td>
<td>Poor</td>
</tr>
<tr>
<td>NUDT15</td>
<td>*1/*2</td>
<td>Intermediate</td>
<td>*3/*6</td>
<td>Possible Intermediate</td>
</tr>
<tr>
<td>CYP2C9</td>
<td>*1/*71</td>
<td>N/A</td>
<td>*10/*22</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>CYP2B6</td>
<td>*1/*36</td>
<td>Intermediate</td>
<td>*6/*22</td>
<td>Intermediate</td>
</tr>
<tr>
<td>CYP2B6</td>
<td>*1/*34</td>
<td>Intermediate</td>
<td>*33/*36</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>CYP2B6</td>
<td>*1/*6</td>
<td>Intermediate</td>
<td>*4/*9</td>
<td>Intermediate</td>
</tr>
<tr>
<td>CYP2B6</td>
<td>*1/*7</td>
<td>Intermediate</td>
<td>*5/*6</td>
<td>Intermediate</td>
</tr>
<tr>
<td>CYP2B6</td>
<td>*1/*13</td>
<td>Intermediate</td>
<td>*6/*8</td>
<td>Intermediate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*46</td>
<td>Decreased function</td>
<td>*15/*45</td>
<td>Possible Decreased Function</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*20</td>
<td>Normal Function</td>
<td>*19/*37</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*12</td>
<td>Indeterminate</td>
<td>*2/*10</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*13</td>
<td>Indeterminate</td>
<td>*3/*11</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*14</td>
<td>Normal Function</td>
<td>*4/*37</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*15</td>
<td>Decreased function</td>
<td>*5/*37</td>
<td>Decreased function</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*25</td>
<td>Indeterminate</td>
<td>*4/*28</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*31</td>
<td>Decreased function</td>
<td>*9/*37</td>
<td>Decreased Function</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*32</td>
<td>Indeterminate</td>
<td>*4/*24</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*40</td>
<td>Indeterminate</td>
<td>*5/*19</td>
<td>Possible Decreased Function</td>
</tr>
<tr>
<td>SLCO1B1</td>
<td>*1/*43</td>
<td>Indeterminate</td>
<td>*4/*44</td>
<td>Indeterminate</td>
</tr>
<tr>
<td>CYP4F2</td>
<td>*1/*4</td>
<td>N/A</td>
<td>*2/*3</td>
<td>N/A</td>
</tr>
<tr>
<td>CYP3A4</td>
<td>*1/*37</td>
<td>N/A</td>
<td>*3/*22</td>
<td>N/A</td>
</tr>
<tr>
<td>CYP3A4</td>
<td>*1/*38</td>
<td>N/A</td>
<td>*3/*11</td>
<td>N/A</td>
</tr>
<tr>
<td>G6PD</td>
<td>A- 202A_376G/B (reference)</td>
<td>Variable</td>
<td>A/Asahi</td>
<td>Variable</td>
</tr>
<tr>
<td>G6PD</td>
<td>B (reference)/Mt Sinai</td>
<td>Variable</td>
<td>A/Guadalajara</td>
<td>Variable</td>
</tr>
<tr>
<td>G6PD</td>
<td>B (reference)/Santa Maria</td>
<td>Variable</td>
<td>A/Malaga</td>
<td>Variable</td>
</tr>
<tr>
<td>G6PD</td>
<td>Ananindeua/B (reference)</td>
<td>Variable</td>
<td>A/Viangchan, Jammu</td>
<td>Variable</td>
</tr>
<tr>
<td>G6PD</td>
<td>B (reference)/Hechi</td>
<td>Variable</td>
<td>Asahi/Viangchan, Jammu</td>
<td>Deficient</td>
</tr>
<tr>
<td>G6PD</td>
<td>B (reference)/Hermoupolis</td>
<td>Variable</td>
<td>Cassano/Union,Maewo, Chinese-2, Kalo</td>
<td>Deficient</td>
</tr>
</tbody>
</table>
<p>Table 2: Cases for which there is an overlap in the allele definitions because the definition of the non-*1 allele in
the genotype with the higher score allows for reference or variant at the position that defines the first allele listed
in the genotype with the lower score. Both genotypes cannot be ruled out with unphased data if the position that
overlaps between the respective alleles is heterozygous (0/1) in addition to heterozygous calls for the other variants
that define the non-*1 allele in the genotype with the higher score.</p>
<table>
<thead>
<tr>
<th>Gene</th>
<th>Genotype (Higher Score)</th>
<th>Phenotype</th>
<th>Genotype (Lower Score)</th>
<th>Phenotype</th>
</tr>
</thead>
<tbody>
<tr>
<td>CYP2C19</td>
<td>*1/*4</td>
<td>Intermediate</td>
<td>*17/*4</td>
<td>Intermediate</td>
</tr>
<tr>
<td>CYP2C19</td>
<td>*1/*2</td>
<td>Intermediate</td>
<td>*11/*2</td>
<td>Intermediate</td>
</tr>
<tr>
<td>CYP2C19</td>
<td>*1/*35</td>
<td>Intermediate</td>
<td>*15/*35</td>
<td>Intermediate</td>
</tr>
<tr>
<td>CYP2B6</td>
<td>*1/*18</td>
<td>Intermediate</td>
<td>*4/*18</td>
<td>Indeterminate</td>
</tr>
</tbody>
</table>
<h3 id="b-cpic-allele-function-phenotype-and-recommendation">B. CPIC Allele Function, Phenotype and Recommendation</h3>
<p>All content is sourced from the <a href="https://github.com/cpicpgx/cpic-data">CPIC database</a>.</p>
<h3 id="c-dpwg-allele-function-phenotype-and-recommendation">C. DPWG Allele Function, Phenotype and Recommendation</h3>
<ol>
<li><p>PharmGKB annotates PGx-based drug dosing guidelines published by the <a href="https://www.pharmgkb.org/page/dpwg">Royal Dutch Association for the Advancement of
Pharmacy - Pharmacogenetics Working Group (DPWG)</a>. PharmGKB curates allele 
function assignments and phenotype mappings from the DPWG to provide genotype specific DPWG guideline
recommendations. Where possible, PharmGKB maps DPWG terms to CPIC terms, as outlined on
<a href="https://www.pharmgkb.org/page/dpwgMapping">PharmGKB</a>.</p></li>
<li><p>CYP3A4 is currently not part of a CPIC guideline. Since the DPWG CYP3A4 documentation includes limit variant
notations for the included alleles (only *16, *20, and *22 are specified) PharmCAT relies on
<a href="https://www.pharmvar.org/gene/CYP3A4">PharmVar CYP3A4 allele definitions</a>. However, the CYP3A4*16, *20 and *22
definitions are the same in both sources.</p></li>
<li><p>The CPIC UGT1A1 allele definition file includes *6, *27, *28, *36, *37, and *80. Since the DPWG UGT1A1 document
does not include allele definitions besides for the UGT1A1 TA box promoter polymorphism, PharmCAT only includes the
UGT1A1 positions from the CPIC UGT1A1 allele definition file. Other UGT1A1 alleles can be supplied as
<a href="https://pharmcat.org/using/Outside-Call-Format/">outside calls</a> but not be determined from the VCF file by the
Named Allele Matcher.</p></li>
</ol>
<h3 id="d-fda-drug-label-and-table-of-pharmacogenetic-associations-recommendations">D. FDA drug-label and Table of Pharmacogenetic Associations recommendations</h3>
<p>PharmCAT includes recommendations from PharmGKB-annotated FDA drug labels and the FDA Table of Pharmacogenetic Associations. 
It only contains FDA information for genes with CPIC or DPWG guidelines because the FDA does not offer any genotype-to-phenotype mapping information. PharmCAT uses CPIC genotype-to-phenotype mappings when they exist, and DPWG genotype-to-phenotype mappings when no CPIC mappings exist, to determine the phenotypes to use with FDA label annotations and Table of Pharmacogenetic Associations entries. Results presented for <a href="https://www.fda.gov/medical-devices/precision-medicine/table-pharmacogenetic-associations">FDA Table of Pharmacogenetic Associations</a> use wording and “Affected Subgroups” taken directly from the Table. Results presented from PharmGKB-annotated drug labels present wording from the specific label that was curated. In many cases, multiple FDA labels may exist for a particular medication. Typically, PharmGKB annotates the label linked to from the FDA <a href="https://www.fda.gov/drugs/science-and-research-drugs/table-pharmacogenomic-biomarkers-drug-labeling">Table of Pharmacogenomic Biomarkers in Drug Labeling</a> but in some cases a different label may be annotated. Follow the “FDA Label Annotation” link in section II of the report to access the annotated label and more information.</p>
<h3 id="e-source-tags-in-section-ii">E. Source Tags in Section II</h3>
<p>Part of PharmGKB’s annotations of guidelines, drug labels and Table of Pharmacogenetic Associations is the assignment of labels that are meant to provide a high-level indication of the provided action. If recommendations or FDA Table wording exists, yellow boxes display if the guidance/wording is regarding (1) a dosing change, (2) recommending an alternate drug be used, or (3) other guidance. These boxes are included in the Source column in Section II of the PharmCAT report. More detailed information about what the yellow boxes mean is available on <a href="https://www.pharmgkb.org/page/clinicalGuidelineLegend#clinical-guideline-annotation-tags">PharmGKB</a>.</p>
<h3 id="f-pharmcat-exceptions-to-the-cpic-guideline-gene-list">F. PharmCAT Exceptions to the CPIC Guideline Gene List</h3>
<ol>
<li><p>PharmCAT does not determine CYP2D6, MT-RNR1, HLA-A, or HLA-B genotypes from the VCF file, but genotypes for CYP2D6,
MT-RNR1, HLA-A, or HLA-B can be provided to PharmCAT from an outside source and the corresponding phenotype 
prescribing recommendations will be included in the generated report. For the required format of the outside calls
refer to the PharmCAT <a href="https://pharmcat.org/using/Outside-Call-Format/">outside calls documentation</a>.</p></li>
<li><p>CPIC has assigned function to the following CYP2D6 CNV alleles: *1x2, *1x≥3, *2x2, *2x≥3, *3x2, *4x2, *4x≥3,
*6x2, *9x2, *10x2, *17x2, *29x2, *35x2, *36x2, *41x2, *41x3, *43x2, *45x2, *146x2. These alleles are part
of the CPIC diplotype to phenotype translation and can be connected to recommendations. Other CNV notations from
outside calls need to be mapped accordingly. </p></li>
</ol>
<h3 id="g-cpic-guideline-disclaimers-and-caveats">G. CPIC Guideline Disclaimers and Caveats</h3>
<ol>
<li><p>A version of the following quoted disclaimer is part of each CPIC guideline and applies to the CPIC recommendations
as used in PharmCAT. For the full description of potential benefits and risks, additional considerations (general and
specific to gene-drug pairs), limitations, information about respective gene nomenclature systems, potential
drug-drug interactions and clinical factors to consider, please see individual CPIC guidelines at
(<a href="https://cpicpgx.org">cpicpgx.org</a>).</p>
<ol>
<li><p>"CPIC guidelines reflect expert consensus based on clinical evidence and peer-reviewed literature available at
the time they are written and are intended only to assist clinicians in decision-making and to identify questions
for further research. New evidence may have emerged since the time a guideline was submitted for publication.
Guidelines are limited in scope and are not applicable to interventions or diseases not specifically identified.
Guidelines do not account for all individual variations among patients and cannot be considered inclusive of all
proper methods of care or exclusive of other treatments. It remains the responsibility of the health-care
provider to determine the best course of treatment for a patient. Adherence to any guidelines is voluntary, with
the ultimate determination regarding its application to be made solely by the clinician and the patient. CPIC
assumes no responsibility for any injury to persons or damage to persons or property arising out of or related to
any use of CPIC's guidelines, or for any errors or omissions." (PMID:
<a href="https://www.ncbi.nlm.nih.gov/pubmed/27997040">27997040</a>)</p></li>
<li><p>"Caveats: appropriate use and/or potential misuse of genetic tests. The application of genotype-based dosing is
most appropriate when initiating therapy with a tricyclic. Obtaining a pharmacogenetic test after months of drug
therapy may be less helpful in some instances, as the drug dose may have already been adjusted based on plasma
concentrations, response, or side effects. Similar to all diagnostic tests, genetic tests are one of several
pieces of clinical information that should be considered before initiating drug therapy." (PMID:
<a href="https://www.ncbi.nlm.nih.gov/pubmed/27997040">27997040</a>)</p></li></ol></li>
<li><p>CPIC guidelines reflect the alleles/genotypes known and considered by the guideline authors for inclusion by the time
of publication, however they may be updated online at
<a href="https://cpicpgx.org">cpicpgx.org</a> and in the CPIC database in between publications. Additional alleles and/or more
extensive allele definitions might exist by the representative gene nomenclatures for various genes.</p></li>
<li><p>CPIC is a registered service mark of the U.S. Department of Health &amp; Human Services (HHS).</p></li>
</ol>
<h3 id="h-pharmgkb-disclaimers-and-caveats">H. PharmGKB Disclaimers and Caveats</h3>
<p>PharmGKB is a registered service mark of the U.S. Department of Health &amp; Human Services (HHS).</p>
</section>
