<p>
  The following {{pluralize "gene" uncallableGenes}} could not be called because there were
  genetic variations that do not match the allele definition. There could still be actionable variants in these genes.
  See <a href="#section-iii">Section III</a> for details.
</p>
<ul class="mb-2">
  {{#each uncallableGenes}}
    <li><a id="gs-uncallable-{{this}}" href="#{{this}}">{{this}}</a></li>
  {{/each}}
</ul>
